*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --dark-purple:#1A2580;
    --light-purple:#B8BBD8;
    --light-blue:#E8E9F2;

}


.button-style{
    color: #FFFFFF;
    background-color: var(--dark-purple);
    border-radius: 4px;
    padding: 5px;
    margin-left: auto;
   
}
.button-style1{
margin: 0px;
}
.post{
    display: grid;
    grid-template-columns: auto auto;
}

.minutes{
    color: var(--dark-purple);

}
.blog-main{
    background-color: var(--light-blue);
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.eachblog{
    background-color: var(--light-purple);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    min-height: 175px;
    margin: 5px;


}
.image{
    height: 50%;
}
.eachblog > p{
    font-size: 12px;
    line-height: 16px;
}
.eachblog > h3{
    font-size: 16px;
    line-height: 18px;
}
.blogt{
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--dark-purple);
   
    
}
.firstblog{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    height: 50%;
    border-radius: 0px 0px 10px 10px;
    margin: 0px;

 
}

.artic{
    display: flex;
}
.blogt > h3{
    font-size: 40px;
    font-weight: bold;
}


