*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --dark-purple:#1A2580;
    --light-purple:#B8BBD8;
    --light-blue:#E8E9F2;

}


.button-style{
    color: #FFFFFF;
    background-color: var(--dark-purple);
    border-radius: 4px;
    padding: 10px;
    gap: 10px;
    margin-left: auto;
    width: 141px;
    
   
}
.button-style1{
margin: 0px;
}

.post{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
}

.minutes{
    color: var(--dark-purple);

}
.blog-main{
    background-color: var(--light-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
   
}

.eachblog{
    background-color: var(--light-purple);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    margin: 5px;
    min-height: 300px;

}
.image{
    height: 50%;
}
.eachblog > p{
    font-size: 12px;
    line-height: 16px;
}
.eachblog > h3{
    font-size: 16px;
    line-height: 18px;
}
.blogt{
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--dark-purple);
   
}
.firstblog{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    height: 50%;
    border-radius: 0px 0px 10px 10px;
    margin: 0px;

 
}
.firstblog > h3{
    margin-top: 4px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.firstblog > p{
    margin-top: 4px;
}
.blogt > h3{
    font-size: 40px;
    font-weight: bold;
}
.left-side{
    margin: 0px;
}
.blog-post{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/* for tablet */
@media (max-width:850px){
    .blog-post{
        grid-template-columns: auto;
    }
    .blog{
        margin-top: 10%;
    }
}

/* for mobile */

@media (max-width:550px){
    .blog{
        margin-top: 10%;
    }
}

